@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
body {
    margin: 2em;
    padding-top: 70px;
}

.navbar-form a {
    color: rgba(255, 255, 255, 0.84);
    line-height: 1;
}

.glyphicon-size {
    line-height: 1;
}

td .form-group {
    padding-bottom: 0px;
    margin: 0;
}

td.plain-text {
    line-height: 37px !important;
}

td.function-btns{
    white-space: nowrap;
}